node_modules/
dist/
dist-ssr/
coverage/
.nyc_output/
.vite/
.cache/
.temp/
.tmp/
.DS_Store
*.local
.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
